.go-topics-container {
  display: flex;
  flex-direction: column;
  /* gap: 1ch; */
  padding-bottom: 1em;  
  box-sizing: border-box;
  
  background-color: #242424;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);

  margin-top: 10px;
  position: sticky;
  top: 1em;
  max-height: 72lvh;
  width: 90%;
  border-radius: 10px;

  overflow-y: scroll;
}

.go-topics-container h2 {
  padding: 1ch 0;
  margin: 0;
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #242424;
}

.go-topics-container a {
  /* background-color: #454545; */
  text-align: center;
  padding: 1ch;
  color: initial;
  margin: 0 1em;
  transition: background-color 0.5s;
}

.go-topics-container a:hover {
  color: initial;
  background-color: #202020;
}

.topics-icon {
  vertical-align: text-bottom;
}