#root {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.read-the-docs {
  color: #888;
}

main h1 {
  font-size: 2em;
  line-height: 42px;
}

main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 20% 80%;
  box-sizing: border-box;
}

section {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
}

.resaltado {
  background-color: rgba(255,255,255,0.15);
  padding: 4px;
  border-radius: 4px;
}

@media screen and (width < 768px) {
  main {
    grid-template-rows: 4em auto;
    grid-template-columns: 100%;
  }

  main nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    background-color: #242424;
    position: sticky;
    top: 0;
  }

  .content {
    padding: 0 1em;
  }

}