#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 0;
  /* text-align: center; */
  /* border: 1px solid white; */
}

.read-the-docs {
  color: #888;
}

main h1 {
  font-size: 2em;
  line-height: 42px;
}

main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 20% 80%;
  width: 98vw;
  box-sizing: border-box;
}

.mobile-menu {
  display: none;
}

main nav {
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

main .topic-link {
  background-color: #2a2a2a;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  border-radius: 8px;
  font-size: 0.9em;
  cursor: pointer;
  color: inherit;
  transition: border-color 0.25s;
}

main .topic-link:hover {
  border-color: #646cff;
  color: inherit;
}

main .topic-link.active {
  background-color: #1a1a1a;
}

section {
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
}

.resaltado {
  background-color: rgba(255,255,255,0.15);
  padding: 4px;
  border-radius: 4px;
}

@media screen and (width < 768px) {
  main {
    grid-template-rows: 4em auto;
    grid-template-columns: 100%;
  }

  .content {
    padding: 0 1em;
  }

  .mobile-menu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 6px 0;
    position: sticky;
    top: 0;
    background-color: #242424;
  }

  .mobile-menu .menu-icon {
    vertical-align: text-bottom;
  }

  .mobile-menu .links {
    display: flex;
    flex-direction: column;
    background-color: #222222;
    position: absolute;
    top: 4em;
    min-height: 100lvh;
    width: 60%;
    gap: 1em;
    padding: 1em;
    box-sizing: border-box;
  }

  main nav {
    display: none;
  }
}