.section-links {
  padding: 3em 2em;
}

.section-links > nav {
  position: sticky;
  top: 3em;
  padding: 0;
  margin: 0;
}

.section-links > nav ul {
  padding: 0;
}

.section-links > nav li {
  list-style-type: none;
}

.section-links > nav a {
  text-decoration: none;
  color: #888888;
}

.section-links > nav a.active {
  color: limegreen;
}

@media screen and (width < 768px) {
  .section-links {
    display: none;
  }
}